@import "https://fonts.googleapis.com/css?family=Share+Tech+Mono";
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7")
      format("svg");
}

:root {
  --bgColor: rgb(38, 55, 68);
  --frameColor: #0a0a0a;
  --screenColor: #202020;
  --screenBorder: 3px double #0f0f0f;
  --formulaColor: #ffa500;
  --resultsColor: #fff;

  --transition: all 0.3s ease-in-out;
  --btnTransition: all 0.1s ease-in-out;
}

.App {
  background: var(--bgColor);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.calculatorFrame {
  background-color: var(--frameColor);
  width: 320px;
  font-family: digital;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: var(--screenBorder);
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.numbers {
  overflow-wrap: break-word;
  word-wrap: break-word;
  vertical-align: text-top;
  text-align: right;
  line-height: 35px;
  margin-bottom: 0.35rem;
  padding: 0.25rem;
  min-height: 1.5rem;
  border-radius: 3px;
}

.formulaScreen {
  border: var(--screenBorder);
  color: var(--formulaColor);
  background-color: var(--screenColor);
  font-size: 2rem;
}

.outputScreen {
  border: var(--screenBorder);
  background-color: var(--screenColor);
  color: var(--resultsColor);
  font-size: 3rem;
}

.MuiGrid-item {
  transition: var(--btnTransition);
}

.MuiGrid-item:hover {
  transform: scale(1.025);
}

.MuiGrid-item:active {
  transform: scale(0.9);
}

.btn {
  width: 100%;
  height: 100%;
}

.btn:active {
  font-size: 1.5rem;
}

.btn:hover:not(.btn:active) {
  font-size: 1.8rem;
}

.contained {
  transition: var(--transition);
}

.contained:hover {
  color: black;
  font-size: 1.5rem;
}

.contained:hover:not(.contained:active) {
  color: black;
  font-size: 1.8rem;
}

.MuiButton-outlined,
.MuiButton-contained {
  transition: var(--transition);
}

.title {
  font-family: digital;
  color: #42a5f5;
  padding: 0.75rem; 
}

.github {
  text-decoration: none;
  color: var(--formulaColor);
}

.github:visited {
  color: var(--resultsColor);
}

.github:hover {
  color: #90caf9;
}
